# Dependency directories
node_modules

# npm package lock
package-lock.json

# project files
.vscode
src
spec
.git
.travis.yml
.editorconfig
.eslintignore
.eslintrc
.eslintrc.js
.babelrc
.gitignore
Contribute.md
.map
